-
  const fileClassName = type === 'file' ? 'input_file' : ''
  const className = `input ${fileClassName}`

input(
  id=id 
  type=type 
  value=value
  placeholder=placeholder
  name=name
  class=className
  autocomplete=autocomplete
)
if id
  label(for=id).input__label
    | #{children}