mixin roomCard(params={})
  -
    const { sender } = params 
    const { name, avatarSrc, lastMessage, unread } = sender
    const nameFirstLetter = name.charAt(0)
  
  .room-card
    .room-card__avatar
      if avatarSrc 
        img(src=`${avatarSrc}`)
      else 
        span #{nameFirstLetter}

    .room-card__content
      span.room-card__header
        h2.room-card__sender-name #{name}
        if unread 
          span.room-card__unread #{unread}

      span.room-card__footer
        span.room-card__message #{lastMessage.text}
        time.room-card__time #{lastMessage.time}