-
  const { avatarSrc, lastMessage, name, undread } = sender
  const { text, time } = lastMessage
  const nameFirstLetter = name.charAt(0)

.room-card
  .room-card__avatar
    if avatarSrc 
      img(src=`${avatarSrc}`)
    else 
      span #{nameFirstLetter}

  .room-card__content
    span.room-card__header
      h2.room-card__sender-name !{name}
      if unread 
        span.room-card__unread !{unread}

    span.room-card__footer
      span.room-card__message !{text}
      time.room-card__time !{time}